<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GDDTASingleLocalize</key>
	<string>GDDTASingleLocalize</string>
	<key>GDDTKey</key>
	<string>70d54ba45ead6effa7a8c4efba3c6a99</string>
	<key>iflyMSCTKey</key>
	<string>5aa73ca4</string>
</dict>
</plist>
